@media screen and (min-width: 768px) {
    .princ-carousel-mob-section {
        display: none;
    }
    .navbar {
        display: none;
    }
    .info-princ-mob {
        display: none;
    }
    .section-envios-mob   {
        display: none;
    }
    .title-section-envios-mob   {
        display: none;
    }
}