@media screen and (max-width: 768px) {

//DISPLAY NONE PARA MOBILE 

.navegador  {
    display: none;
}
.stick  {
    display: none;
}
.imagenes-presentacion  {
    display: none
}
.section-envios {
    display: none;
}

// NUEVOS DISPLAYS PARA MOBILE

.princ-carousel-mob-section {
    margin: 2rem 1rem;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 22px 7px rgba(41,160,155,1);
-moz-box-shadow: 0px 0px 22px 7px rgba(41,160,155,1);
box-shadow: 0px 0px 22px 7px rgba(41,160,155,1);
    .d-block   {
        border-radius: 10px;
    }
}

.navbar {
    --bs-navbar-toggler-focus-width: 0;
    padding: 0;
    .navbar-brand   {
        justify-content: center;
        align-items: center;
    }
    .container-fluid   {
        background-color: rgb(25,162,154);
        .navegador-img-mob  {
            width: 100px;
        }
        .navbar-toggler {
            background-color: white;
            &hover  {
                background-color: aqua !important;
            }
        }
            .navbar-toggler-icon   {
                background-color: white;
            } 
        .nav-link   {
            color: white;
            border-radius: 10px;
            margin: 0.25rem;
            padding: 1rem 0.5rem;
            transition: 1s !important;
            &:hover {
                background: linear-gradient(to right, rgba(255, 255, 255, 0.123), rgba(255, 255, 255, 0)) !important;
            }
        }
    }
}
.info-princ-mob {
    color: white;
    text-align: center;
    padding: 1rem 0.5rem;
    margin: 1rem 0rem 4rem 0rem;
    background-color: rgb(25,162,154);
    font-weight: 300;
    font-size: 14px;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(97,97,97,0.56);
    -moz-box-shadow: 0px 0px 24px 0px rgba(97,97,97,0.56);
    box-shadow: 0px 0px 24px 0px rgba(97,97,97,0.56);
}

.section-footer {
    flex-direction: column;
    flex-wrap: nowrap;
    
    .footer-options {
        margin: 0 !important;
        padding: 0 !important;
        justify-content: center;
        align-items: center;
        .footer-options-text    {
            margin: 10px;
            text-align: center;
        }
    }
}

// SECTION MOBILE DE FILTROS BUSQUEDAS Y ACCESOS DIRECTOS DE LA PAGINA PULSERAS

.section-busqueda-filtro    {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    .sticksec   {
        width: 100%;
        justify-content: space-around;
        align-items: center;
        .sticksection   {
            width: 90%;
            height: 1.7rem;
        }
    }
    .section-filtro-busqueda    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        .filters    {
            width: 100%;
            height: 2rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .div-filtro-busqueda    {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .etiquetas  {
                    font-size: 12px;
                    font-weight: 300;
                }
                .filtro {
                    padding: 0;
                    border: 0;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 1.4rem;
                    font-size: 12px;
                    width: 50%;
                }
                .enviar {
                    border-radius: 5px;
                    border: 0;
                    margin: 0;
                    font-size: 12px;
                    font-weight: 500;
                    height: 1.4rem;
                }
                .busqueda   {
                    width: 50%;
                    height: 1.4rem;
                    font-size: 12px;
                    
                }
            }
        }
    }
}


}