@media screen and (min-width: 768px) {
    .princ-carousel-mob-section {
        display: none;
    }
    .navbar {
        display: none;
    }
    .info-princ-mob {
        display: none;
    }
    .section-envios-mob   {
        display: none;
    }
    .title-section-envios-mob   {
        display: none;
    }
    .img-section-mob    {
        display: none;
    }
    .section-precios-producto-mob   {
        display: none;
    }
    .section-pagos-mob  {
        display: none;
    }
    .section-mapa-detalle-mob   {
        display: none;
    }
    .apartado-mapa-detalle-mob  {
        display: none;
    }
    .section-rel-products-mob   {
        display: none;
    }
}