
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*   {
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif!important;
}

html{
    margin: 0%;
    background-color: rgb(206, 206, 206);
}

p   {
    font-weight: 200;
}

/* DISEÑOS DE LA BARRA DE NAVEGACIÓN */

.navegador  {
    background-color: rgb(25,162,154);
    display: flex;
    align-items: center; 
    justify-content: space-around;
    flex-wrap: wrap;
    
    /* flex-direction: column; */
    
}

.navegador-title-img  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    }

.navegador-img  {
    width: 120px;
    display: flex;
}

.navegador-title {
    display: flex;
    color: rgb(252, 252, 252);
    text-decoration-line:none ;
    font-weight: 300;
    font-size: 0.8rem;   
    
}

.navegador-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.navegador-link {
    margin: 15px;
}

.navegador-link-desing   {
    color: rgb(255, 255, 255);
    text-decoration-line: none;
    font-weight: 400;
    align-items: center;
    
}

.navegador-link-desing:hover    {
    color:rgb(238, 238, 238) ;
}

.access-personal {
    /* order: 1; */
    width: 50px !important;
    padding: 10px;
}

.access-personal:hover  {
    cursor: pointer;
}

.nav-bar-access-personal{
    display: flex;
}

/* FIN DE LOS DISEÑOS DE LA BARRA DE NAVEGACIÓN */


/* INICIO DEL MAIN */

/* INICIO DEL STICKY POSITION DE LA PROMOCION */
.stick {
    position: sticky;
    top:0px;
    z-index: 1;
}

.promo  {
    color: white;
    display: grid;
    place-content: center;
    font-weight: 200;
    font-size: 1.3rem;
    background-color:rgb(25,162,154);
    margin-top: 1px;
    height: 2rem;
    
}

.promo:hover    {
    color: white;
    font-weight: 250;
    background-color:rgb(41, 160, 155) ;
    cursor: pointer;
}

/* FIN DEL STICKY POSITION DE LA PROMOCIÓN */

/*INICIO DE PRESENTACIÓN DE IMAGENES */

.imagenes-presentacion  {
    /* display:flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center; */
    background: linear-gradient( rgb(25, 162, 153),rgb(192, 171, 211));
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    align-items: center;
    justify-content: space-around; 
    margin: 40px 0px 80px 0px;
    width: 100%;
    height: 400px;
    position: relative;
    inset: 0;
    
}

.imagenes-presentacion-diseño-ind   {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: .5s ease;
}

.imagenes-presentacion-diseño-ind:hover {
    width: 40px;
    opacity: 120%;
    border-radius: 5px;
}

/* FIN DE PRESENTACIÓN DE IMAGENES */


/* DISEÑO DEL APARTADO DE PROMOCIONES */

.promo-section-promociones  {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-size: 1.4rem;
    height: 6rem;
    background-color:rgb(25,162,154);
    margin: 0.7rem 0rem 0.7rem 0rem;  
}


.section-promociones   {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
}


.contain-promociones1    {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(25,162,154);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    margin: 2rem 0rem 2rem 0rem;
}

.title-promo1   {
    /* grid-area: titulo; */
    display: flex;
    justify-content: center;
    padding-top: 1.2rem;   
    font-weight: 350;
    font-size: 1.5rem;
    
}

.img-promocion1    {
    align-items: center;
    width: 300px;
    border-radius: 15px;
    margin: 1.2rem;
   
}

.desc-prom1    {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 350;
    padding: 0rem 1.1rem;
}

.button-prom1   {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.1rem 1.1rem 1.5rem 1.1rem;
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 15px;
    font-weight: 200;
}

.button-prom1:hover     {
    background-color: rgb(41, 160, 155);
    cursor: pointer;
    font-weight: 250;
}


/* FIN DEL DISEÑO DEL APARTADO DE PROMOCIONES */

/* INICIO DE DISEÑO DE MAPA DE ENVÍOS */

.section-envios {
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,200px);
    gap: 15px;
    justify-content: space-between;
    margin: 90px;
    grid-template-areas: 
    "mapa pago"
    "mapa redes";
}

.contain-envios {
    grid-area: mapa;
    border-radius: 5px;
    background-color: rgb(25,162,154);
    padding: 0rem 2rem 1rem 2rem;
}

.contain-pago   {
    grid-area: pago;
    border-radius: 5px;
    background-color:rgb(25,162,154);
    padding: 0rem 2rem 1rem 2rem;
}

.contain-redes {
    grid-area: redes;
    border-radius: 5px;
    background-color: rgb(25,162,154);
    padding: 0rem 2rem 1rem 2rem;
}

.title-envios   {
    color: rgb(255, 255, 255);
    margin: 1rem 0rem 1.1rem 4rem ;
    border-bottom: 2px solid white;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    font-weight: 350;
    font-size: 1.2rem;
    
}

.mapa-envios    {
    width: 100%;
    height: 60%;
    border-radius: 5px;
    border: 2px solid rgb(192, 171, 211);
}

.p1 {
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-top: 8px;
    font-weight: 350;
}

.p2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-top: 8px;
    font-weight: 350;
}

.p3 {
    display: flex;
    justify-content: end;
    align-items: center;
    color: rgb(255, 255, 255); 
    margin-top: 8px;
    font-weight: 350;
}

/* SECCION PAGOS */

.img-pago{
    width: 30px;
    margin:0rem 1.02rem 0rem 0rem;
}

.img-pago-txt1  {
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-top: 8px;
    font-weight: 350;
}

.img-pago-txt2  {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255); 
    margin-top: 8px;
    font-weight: 350;
}

.img-pago-txt3  {
    display: flex;
    justify-content: end;
    align-items: center;
    color: rgb(255, 255, 255); 
    margin-top: 8px;
    font-weight: 350;
}

.img-pago-txt   {
    margin: 0px 0px 7px 40px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

/* DISEÑO DEL GRID DE REDES SOCIALES */

.text-image-redes1   {
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-top: 8px;
    font-weight: 350;
}

.text-image-redes2   {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-top: 8px;
    font-weight: 350;
}

.text-image-redes3   {
    display: flex;
    justify-content: end;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-top: 8px;
    font-weight: 350;
}

.redes  {
    width: 30px;
    margin:0rem 1.02rem 0rem 0rem;
}

.text-image-redes1:hover    {
    cursor: pointer;
}

.text-image-redes2:hover    {
    cursor: pointer;

}
.text-image-redes3:hover    {
    cursor: pointer;
}

/* FIN DEL DISEÑO DE REDES SOCIALES */

/* FIN DEL DISEÑO DEL MAIN */
.section-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.img-footer {
    display: flex;
    /* flex-wrap: wrap; */
    width: 125px;
}

.footer-options {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 2rem 0rem 2rem 0rem;
}

.footer-options-text    {
    list-style-type: none;
    color: rgb(255, 255, 255);
}

.footer-options-text:hover   {
    cursor: pointer;
}


footer {
    background-color:rgb(25,162,154); 
    padding: 2rem;
    /* height: 150px; */
}

/* FIN DEL DISEÑO DEL FOOTER */

/* INICIO DISEÑO SECCION "TODOS LOS PRODUCTOS" */

/* CARDS POR PRODUCTO */

.card   {
    border: 6px solid rgb(25,162,154);
}

.card-title {
    color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
    padding-bottom: 0px;
}

.card-body  {
    background-color: rgb(25,162,154);
}

.card-link  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 300;
    border: 3px solid rgb(194, 194, 194);
    background-color: rgb(194, 194, 194);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
    margin: 0.5rem;
}

.card-link:hover    {
    font-weight: 250;
    background-color: rgb(27, 156, 148);
}


/* CAROUSEL -> CARD */

.txt-card-carousel  {
    color: rgb(25,162,154);
    font-weight: 250;
}

.card-container-carousel    {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-container-productos   {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card   {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.card-promo {
    background-color: rgb(25,162,154);
    transition: 1s;
}

.card-promo:hover   {
    filter: contrast(1.75);
}

/* FIN DE DISEÑO DE TODOS LOS PRODUCTOS */

/* INICIO DE DISEÑO DE SECCION PULSERAS*/

.section-busqueda-filtro    {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 0px 0px 15px ;
}

.section-filtro-busqueda    {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    margin-right: 2rem;
}

.div-filtro-busqueda    {
    padding: 0.5rem 1rem;
}

.etiquetas   {
    color: white;
    padding: 0.5rem 0.5rem;
}

.filters    {
    display: flex;
    background-color: rgb(25,162,154);
    margin:5px;
    border: none;
    border-radius: 10px;
}

.filtro {
    background-color:rgb(238, 238, 238);
    border-radius: 7px;
    font-family: "Lexend", sans-serif;
    margin: 2px;
    padding: 3px;
    color: rgb(25,162,154);
    border: 2px solid rgb(25,162,154);
    transition: 0.2s    ;
}

.filtro:hover   {
    background-color:rgb(219, 219, 219) ;
    cursor: pointer;
}

.enviar {
    background-color:rgb(238, 238, 238) ;
    border: 2px solid rgb(25,162,154);
    border-radius: 7px;
    margin: 2px;
    padding: 3px;
    color: rgb(25,162,154);
    font-family: "Lexend", sans-serif;
    transition: 0.2s ;
}
.enviar:hover   {
    background-color: rgb(219, 219, 219);
    cursor: pointer;
    
}

.enviar:active  {
    background-color:rgb(185, 185, 185);
}

.busqueda   {
    
    background-color:rgb(238, 238, 238);
    border: none;
    padding: 3px;
    border-radius: 5px;
    color: rgb(25,162,154) ;
}

.busqueda::placeholder  {
    color:  rgb(25,162,154);
    font-family: "Lexend", sans-serif;
    opacity: 50%;
}


.sticksec   {
   display: flex;
   align-items: center;
   font-weight: 300;
   
}

.sticksection   {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: rgb(25,162,154) ;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    color: white;
}

.sticksection p{
    margin: 0;
}

.sticksection:hover {
    opacity: 90%;
    cursor: pointer;
}

/* DISEÑO DE CARDS PRODUCTOS */

.sectimg    {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0rem 2rem 0rem; 
}

.img-product    {
    width: 100%;
}

.desingimg    {
    display: flex;
    flex-direction: column;
    background-color:rgb(25,162,154);
    margin: 50px;
    width: 20rem;
    height: 36rem;
    border: 2px solid rgb(25,162,154);
    border-radius: 5px;
}

.oferta-precio  {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0rem 1rem 0rem 1rem;
    border-top: 1.5px solid white;
}

.oferta {
    color: rgb(207, 207, 207);
    margin: 1rem;
    text-decoration:line-through;
    font-size: 1rem;
    font-weight: 300;
}

.precio {
    font-weight: 400;
    border-bottom: 2px solid white;
    margin: 1rem;
    font-size: 1.3rem;
    
}

/* FIN DE DISEÑO DE PRODUCTOS */

.section-informacio-ingreso {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.section-registro   {
    background-color: rgb(25,162,154);
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid rgb(25,162,154);
}

.detalles   {
    background-color:rgb(25,162,154);
    margin: 5px;
    padding: 10px;
}

.contain-inpust-registro    {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0rem;
}

.legend1 {
    color: white;
    background-color:rgb(25,162,154);
    padding: 0.5rem 0.8rem;
    border-bottom: 2px solid white;
}

.etiquetas-registro {
    color: white;
    margin: 0rem 1rem;
}

.termcond:hover   {
    color: rgb(238, 238, 238);
    cursor: pointer;
}

.submit-registro    {
    width: 100%;
}

/* FIN DE DISEÑO DE REGISTRO */

/* INICIO DE DISEÑO DE SECCION DE PRODUCTOS INDIVIDUALES */

.contain-carousel-descripcion   {
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 17rem 2rem 17rem;
    gap: 1rem;
    margin: 2rem;
    grid-template-areas: 
    "carousel descripcion"
    "carousel precio"
    "carousel form";
}

.section-carousel-product   {
    grid-area: carousel;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: rgb(25,162,154);
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 10px;
}

.section-carousel-product2  {
    grid-area: descripcion;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: rgb(25,162,154);
    border-radius: 10px;
}

.d-block1   {
    border: 3px solid rgb(25,162,154);
    border-radius: 10px;
}

.content-caracteristicas p  {
    margin: 0;
    color: white;
    font-weight: 300;
    font-size: 1.8rem;
    border-bottom: 3px solid white;
}

.content-caracteristicas li {
    color: white;
    font-weight: 200;
    font-size: 1.2rem;
}

.section-precios-producto3   {
    grid-area: precio;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    border-radius: 10px;
    height: 2rem;

}

.section-precios-producto3 p {
    /* grid-area: precio;
    display: flex; */
    margin: 0;
    /* display: flex;
    align-items: center; */
    font-weight: 500;
}

.diseño-precios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%; 
    height: 2rem;
    color: rgb(211, 211, 211);
    background-color: rgb(25,162,154);
    border-radius: 10px;
    margin: 1px;
    font-style: italic;
    text-decoration: line-through;
    text-align: center;
}


.diseño-precios-final   {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%; 
    height: 2rem;
    color: white;
    background-color: rgb(25,162,154);
    border-radius: 10px;
    margin: 1px;
    font-style: italic;
    font-size: 1.2rem;
}



.section-precios-producto4  {
    grid-area: form;
    background-color: rgb(25,162,154);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.section-precios-producto4 p    {
    margin: 0;
    color: white;
    font-weight: 300;
    font-size: 1.8rem;
    border-bottom: 3px solid white;
}


#validationCustom04 {
    color: rgb(25,162,154);
    background-color: rgb(194, 194, 194);
    border: 3px solid rgb(194, 194, 194);
}

.col-md-6   {
    color: white;
    margin: 0;
    padding-bottom: 1rem;
}

.col-md-6 option    {
    background-color: rgb(194, 194, 194);
    color: rgb(25,162,154);
    border: 3px solid rgb(194, 194, 194);
}


.btn-primary    {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    border: 3px solid rgb(194, 194, 194);
    background-color: rgb(194, 194, 194);
    color: rgb(25,162,154);
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
    margin: 0.5rem;
    width: 100%;   
}
.btn-primary:hover {
    font-weight: 500;
    background-color: rgb(27, 156, 148);
    border: 3px solid rgb(194, 194, 194);
}

/* DISEÑO DE SECCION DETALLES DE COMPRA */

.section-detalles {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 10rem;
}

.apartado-pagos {
    background-color: rgb(25,162,154);
    width: 45%;
    height: 10rem;
    border-radius: 10px;
    padding: 2rem;
}

.apartado-pagos h4 {
    border-bottom: 3px solid white;
}

.cuota  {
    font-style: italic;
    font-size: 1.3rem;
    border-bottom: 2px solid white;
}

.contain-cuotas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}


/* SECCION CON MAPA */

.section-mapa-detalle       {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 30rem;
    margin-top: 2rem;
}

.apartado-mapa-detalle  {
    background-color: rgb(25,162,154);
    width: 45%;
    height: 30rem;
    border-radius: 10px;
    padding: 2rem;
}

.apartado-mapa-detalle h4 {
    border-bottom: 3px solid white;
}

.mapa-envios-final  {
    width: 100%;
    height: 90%;
    border: 3px solid rgb(25,162,154);
    border-radius: 10px;
}

/* SECCION PRODUCTOS RELACIONADOS */

.section-rel-products   {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 35rem;
    margin-top: 2rem;
}

.apartado-rel-products  {
    background-color: rgb(25,162,154);
    width: 45%;
    height: 30rem;
    border-radius: 10px;
    padding: 2rem;
}

.flex-contain-rel-products  {
    display: flex;
    justify-content: space-around;
}

.apartado-rel-products h4 {
        border-bottom: 3px solid white;
    }


.rel-products-details   {
    text-align: center; 
    padding: 1rem;
    margin: 2rem;
    border-radius: 10px;
    background-color: rgb(25,162,154);
    border: 3px solid white;
    transition: 0.5s;
}

.rel-products-details:hover    {
    cursor: pointer;
    background-color: rgb(25, 146, 138);
    border: 3px solid rgb(199, 199, 199);
}

.img-rel-product    {
    width: 100%;
    border-radius: 10px;
    border: 3px solid white;
}

.rel-product-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 300;
    border: 3px solid rgb(194, 194, 194);
    background-color: rgb(194, 194, 194);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
    margin: 0.5rem;
}

.rel-product-button:hover {
    font-weight: 250;
    background-color: rgb(27, 156, 148);
}

.rel-products-details-title {
    font-weight: 300;
    border-bottom: 2px solid white;
}
