
footer {
    background-color:rgb(25,162,154); 
    padding: 2rem;
    .section-footer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .img-footer {
            display: flex;
            width: 125px;
        }

        .footer-options {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            margin: 2rem 0rem 2rem 0rem;

            .footer-options-text    {
                list-style-type: none;
                color: rgb(255, 255, 255);
                
                &:hover   {
                    cursor: pointer;
                }
            }
        }
    }
}








