
.section-informacio-ingreso {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .section-registro   {
        background-color: rgb(25,162,154);
        margin: 2rem;
        padding: 2rem;
        border-radius: 10px;
        border: 2px solid rgb(25,162,154);
        .legend1 {
            color: white;
            background-color:rgb(25,162,154);
            padding: 0.5rem 0.8rem;
            border-bottom: 2px solid white;
        }
        .contain-inpust-registro    {
            display: flex;
            flex-wrap: wrap;
            margin: 1rem 0rem;
            .etiquetas-registro {
                color: white;
                margin: 0rem 1rem;      
                .busqueda   {
                    background-color:rgb(238, 238, 238);
                    border: none;
                    padding: 3px;
                    border-radius: 5px;
                    color: rgb(25,162,154) ;
                }
            }
        }
    }
    .submit-registro    {
        width: 100%;
    }
    
    .filtro {
        background-color:rgb(238, 238, 238);
        border-radius: 7px;
        font-family: "Lexend", sans-serif;
        margin: 2px;
        padding: 3px;
        color: rgb(25,162,154);
        border: 2px solid rgb(25,162,154);
        transition: 0.2s    ;
    }

    .filtro:hover   {
        background-color:rgb(219, 219, 219) ;
        cursor: pointer;
    }
    
    .card-link  {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: 300;
        border: 3px solid rgb(194, 194, 194);
        background-color: rgb(194, 194, 194);
        color: rgb(255, 255, 255);
        border-radius: 10px;
        transition: 0.2s;
        cursor: pointer;
        margin: 0.5rem;
    }

    .card-link:hover    {
        font-weight: 250;
        background-color: rgb(27, 156, 148);
    }
}
