
.contain-carousel-descripcion   {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 17rem 2rem 17rem;
    gap: 1rem;
    margin: 2rem;
    grid-template-areas: 
    "carousel descripcion"
    "carousel precio"
    "carousel form";
    .section-carousel-product   {
        grid-area: carousel;
        display: grid;
        justify-content: center;
        align-content: center;
        background-color: rgb(25,162,154);
        padding: 1rem 2rem;
        width: 100%;
        border-radius: 10px;
        .d-block1   {
            border: 3px solid rgb(25,162,154);
            border-radius: 10px;
        }
    }
    .section-carousel-product2  {
        grid-area: descripcion;
        display: grid;
        justify-content: center;
        align-content: center;
        background-color: rgb(25,162,154);
        border-radius: 10px;
        .content-caracteristicas p  {
            margin: 0;
            color: white;
            font-weight: 300;
            font-size: 1.8rem;
            border-bottom: 3px solid white;
        }
        .content-caracteristicas li {
            color: white;
            font-weight: 200;
            font-size: 1.2rem;
            margin: 1rem;
        }
    }
    .section-precios-producto3   {
        grid-area: precio;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-items: center;
        border-radius: 10px;
        height: 2rem;
        p {
            margin: 2rem;
            font-weight: 500;
        }
        .diseño-precios {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 90%; 
            height: 2rem;
            color: rgb(211, 211, 211);
            background-color: rgb(25,162,154);
            border-radius: 10px;
            margin: 1px;
            font-style: italic;
            text-decoration: line-through;
            text-align: center;
        }
        .diseño-precios-final   {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 90%; 
            height: 2rem;
            color: white;
            background-color: rgb(25,162,154);
            border-radius: 10px;
            margin: 1px;
            font-style: italic;
            font-size: 1.2rem;
        }
    }
    .section-precios-producto4  {
        grid-area: form;
        background-color: rgb(25,162,154);
        display: grid;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        p    {
            margin: 0;
            color: white;
            font-weight: 300;
            font-size: 1.8rem;
            border-bottom: 3px solid white;
        }
        .col-md-6   {
            color: white;
            margin: 0;
            padding-bottom: 1rem;
            #validationCustom04 {
                color: rgb(25,162,154);
                background-color: rgb(194, 194, 194);
                border: 3px solid rgb(194, 194, 194);
            }
            option    {
                background-color: rgb(194, 194, 194);
                color: rgb(25,162,154);
                border: 3px solid rgb(194, 194, 194);
            }
        }
        .btn-primary    {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-weight: 500;
            border: 3px solid rgb(194, 194, 194);
            background-color: rgb(194, 194, 194);
            color: rgb(25,162,154);
            border-radius: 10px;
            transition: 0.2s;
            cursor: pointer;
            margin: 0.5rem;
            width: 100%;   
            &:hover {
                font-weight: 500;
                background-color: rgb(27, 156, 148);
                border: 3px solid rgb(194, 194, 194);
            }
        }
    }
}       


.section-detalles {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 10rem;
    .apartado-pagos {
        background-color: rgb(25,162,154);
        width: 45%;
        height: 10rem;
        border-radius: 10px;
        padding: 2rem;
        h4 {
            border-bottom: 3px solid white;
        }
        .contain-cuotas {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;
        }
        .cuota  {
            font-style: italic;
            font-size: 1.3rem;
            border-bottom: 2px solid white;
        }
    }
}

.section-mapa-detalle       {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 30rem;
    margin-top: 2rem;
    .apartado-mapa-detalle  {
        background-color: rgb(25,162,154);
        width: 45%;
        height: 30rem;
        border-radius: 10px;
        padding: 2rem;
        h4 {
            border-bottom: 3px solid white;
        }
        .mapa-envios-final  {
            width: 100%;
            height: 90%;
            border: 3px solid rgb(25,162,154);
            border-radius: 10px;
        }
    }
}


// SECCION PRODUCTOS RELACIONADOS

.section-rel-products   {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 35rem;
    margin-top: 2rem;
    .apartado-rel-products  {
        background-color: rgb(25,162,154);
        width: 45%;
        height: 30rem;
        border-radius: 10px;
        padding: 2rem;
        h4 {
            border-bottom: 3px solid white;
        }
        .flex-contain-rel-products  {
            display: flex;
            justify-content: space-around;
            .rel-products-details   {
                text-align: center; 
                padding: 1rem;
                margin: 2rem;
                border-radius: 10px;
                background-color: rgb(25,162,154);
                border: 3px solid white;
                transition: 0.5s;
                &:hover    {
                    cursor: pointer;
                    background-color: rgb(25, 146, 138);
                    border: 3px solid rgb(199, 199, 199);
                }
                .img-rel-product    {
                    width: 100%;
                    border-radius: 10px;
                    border: 3px solid white;
                }
                .rel-product-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    font-weight: 300;
                    border: 3px solid rgb(194, 194, 194);
                    background-color: rgb(194, 194, 194);
                    color: rgb(255, 255, 255);
                    border-radius: 10px;
                    transition: 0.2s;
                    cursor: pointer;
                    margin: 0.5rem;
                    &:hover {
                        font-weight: 250;
                        background-color: rgb(27, 156, 148);
                    }
                }
            }
            .rel-products-details-title {
                font-weight: 300;
                border-bottom: 2px solid white;
            }
        }
    }
}