@import "header.scss";
@import "contenpagprincipal.scss";
@import "footer.scss";
@import "pagproductos.scss";
@import "pagpulseras.scss";
@import "pagregistro.scss";
@import "pagpulserablanca.scss";
@import "media-queries/_media-mobile.scss";
@import "media-queries/media-desktop.scss";